<div class="container">
<h1><hr/>Run Group Schedule</h1>
            <ul class="schedule">
                <li>
                    <strong>8:30AM-MANDATORY DRIVER'S MEETING</strong>
                </li>
                <li>
                    <strong>9:00AM-TRACK GOES HOT</strong>
                </li>
                <li>9:00AM-9:40AM: C GROUP</li>
                <li>9:40AM-10:20AM: B GROUP</li>
                <li>10:20AM-11:00AM: A GROUP</li>
                <li>11:00AM-11:40AM: C GROUP</li>
                <li>11:40AM-12:20PM: B GROUP</li>
                <li>12:20PM-1:00PM: A GROUP</li>
                <li>1:00PM-1:40PM: C GROUP</li>
                <li>1:40PM-2:20PM: B GROUP</li>
                <li>2:20PM-3:00PM: A GROUP</li>
                <li>3:00PM-3:40PM: C GROUP</li>
                <li>3:40PM-4:20PM: B GROUP</li>
                <li>4:20PM-5:00PM: A GROUP</li>
                <li>
                    <strong>5:00PM-NO CARS ON TRACK</strong>
                </li>
            </ul>
            <h1><hr/>Club Loose Rule Book</h1>
            <p>As part of the Club Loose family, we follow the official Club Loose rules with few exceptions. Find the rule book <a href="http://www.clubloose.com/clubloose/index.php/the-rules" target="_blank">here</a>.</p>
            <h1 id="faq1"><hr/>Frequently Asked Questions</h1>
            <h2>Beginners</h2>
            <div class="panel-group" id="panels1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels1" href="#collapse1">                            Are there any events for beginners?                            </a> </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">                    Every event is for beginners! We encourage everyone to come out. Those still learning to drift will be put into C group with drivers of similar skill level.                    </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels1" href="#collapse2">                                Are there instructors available?                               </a> </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">                            Yes. Let us know ahead of time and we'll set you up with a more experienced driver to show you the ropes. Of course, this is optional and you can still learn on your own and at your own pace.                      </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels1" href="#collapse3">                                How can I get more information?                                </a> </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">                            Join us on facebook, or contact us at info@clubloose-north.com                         </div>
                    </div>
                </div>
            </div>
            <h2>Drivers</h2>
            <div class="panel-group" id="panels1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels1a1" href="#collapse1a1">                            How much seat time will I get?                            </a> </h4>
                    </div>
                    <div id="collapse1a1" class="panel-collapse collapse">
                        <div class="panel-body">                    You’ll typically run out of tires before you run out of seat time. We run the track from 9 AM - 5 PM with a 3 group rotation. There’s very little time between run groups.                 </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels1a1" href="#collapse2a1">                                Is there a tire machine on site?                                </a> </h4>
                    </div>
                    <div id="collapse2a1" class="panel-collapse collapse">
                        <div class="panel-body">                            Yes, but there is only one so we advise you do as much as you can before the event. It’s available free to use and drivers are encouraged to operate it themselves. If you don’t know how to use it, ask for help.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels1a1" href="#collapse3a1">                                Is there an air compressor on site?                               </a> </h4>
                    </div>
                    <div id="collapse3a1" class="panel-collapse collapse">
                        <div class="panel-body">                           Yes, next to the tire machine but we recommend you use the machine at the maitenance building or bring a portable unit.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels4a4" href="#collapse4a4">                               Where is the pit area?                               </a> </h4>
                    </div>
                    <div id="collapse4a4" class="panel-collapse collapse">
                        <div class="panel-body">                           The pit is the area around the bathrooms in lot S2 and stretches back along the track-side barriers.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels5a5" href="#collapse5a5">                              What is the track layout?                               </a> </h4>
                    </div>
                    <div id="collapse5a5" class="panel-collapse collapse">
                        <div class="panel-body">                           Use this high tech SAT Imagery for reference.
                            <img class="img-responsive" src="layout.png">
                            The layout is subject to change. The layout will be discussed at the driver's meeting. Drivers must follow the track layout! No exceptions.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels6a6" href="#collapse6a6">                              Is there space for large trailers?                               </a> </h4>
                    </div>
                    <div id="collapse6a6" class="panel-collapse collapse">
                        <div class="panel-body">                          Yes, the dirt ground section of the pit area has plenty of space.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels7a7" href="#collapse7a7">                              Are there electrical outlets available?                               </a> </h4>
                    </div>
                    <div id="collapse7a7" class="panel-collapse collapse">
                        <div class="panel-body">                          Yes, for drivers.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels8a8" href="#collapse8a8">                             How do group assignments work?                               </a> </h4>
                    </div>
                    <div id="collapse8a8" class="panel-collapse collapse">
                        <div class="panel-body">                         C: You'll typically start here. This is for those still learn to drift and are still learning the limits of their car. B: Most people get into this group when they can link the entire track, stay in drift and put down consistent runs throughout an entire day. A: Is those experienced folks who firmly know the track, know their cars, and have all the proper safety equipment to tandem.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels9a9" href="#collapse9a9">                             When and where is the drivers meeting?                               </a> </h4>
                    </div>
                    <div id="collapse9a9" class="panel-collapse collapse">
                        <div class="panel-body">                         Drivers meetings are held at 8:30 AM on the morning of the event. Everyone will be called together and the rules, saftey procedures, changes to track setup or schedules will be announced.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels10a10" href="#collapse10a10">                             Where can I find the run group schedule?                               </a> </h4>
                    </div>
                    <div id="collapse10a10" class="panel-collapse collapse">
                        <div class="panel-body">                        At the top of this page.
</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels11a11" href="#collapse11a11">                            Where can I find the rulebook?                               </a> </h4>
                    </div>
                    <div id="collapse11a11" class="panel-collapse collapse">
                        <div class="panel-body">                         Click
                            <a href="/rules.html">here</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Registering</h2>
            <div class="panel-group" id="panels1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels12a12" href="#collapse12a12">                            How do I pre-register for an event?                            </a> </h4>
                    </div>
                    <div id="collapse12a12" class="panel-collapse collapse">
                        <div class="panel-body">                    Go to the top of this page, select the event you wish to register for and check-out with PayPal.                   </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels13a13" href="#collapse13a13">                                Can I get a refund if I can't make it to the event?                               </a> </h4>
                    </div>
                    <div id="collapse13a13" class="panel-collapse collapse">
                        <div class="panel-body">                            Yes, or you can use it as credit for a future event.                           </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels14a14" href="#collapse14a14">                                Can I pay on-site and which forms of payment are accepted?                                </a> </h4>
                    </div>
                    <div id="collapse14a14" class="panel-collapse collapse">
                        <div class="panel-body">                            Cash or credit cards through Paypal. Checks are NOT accepted.                            </div>
                    </div>
                </div>
            </div>
            <h2>On-track</h2>
            <div class="panel-group" id="panels1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels15a15" href="#collapse15a15">                            What do the flag signals from the line workers mean?                            </a> </h4>
                    </div>
                    <div id="collapse15a15" class="panel-collapse collapse">
                        <div class="panel-body">                    Green: Go. Red: Stop Checkered: Hot lap                   </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels16a16" href="#collapse16a16">                                What should I do if I spin out?                                </a> </h4>
                    </div>
                    <div id="collapse16a16" class="panel-collapse collapse">
                        <div class="panel-body">                            Don't waste tires by burning out or spinning your car around, instead, calmly get back up to speed and back on your line.                     </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels17a17" href="#collapse17a17">                                What should I do if my car starts leaking fluids?                              </a> </h4>
                    </div>
                    <div id="collapse17a17" class="panel-collapse collapse">
                        <div class="panel-body">                         Get off the track onto a grass or dirt area, let a CLN staff member know.                       </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels18a18" href="#collapse18a18">                                What should I do if I hit a wall, fence, or barrier?                            </a> </h4>
                    </div>
                    <div id="collapse18a18" class="panel-collapse collapse">
                        <div class="panel-body">                         If its just a tap, keep going. If it is a damage or injury causing event, remain in the car. Medical personnel are on site.                       </div>
                    </div>
                </div>
            </div>
            <h2>Perks</h2>
            <div class="panel-group" id="panels1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels19a19" href="#collapse19a19">                            How can I take advantage of discounts and offers available from Clubloose North Sponsors?                            </a> </h4>
                    </div>
                    <div id="collapse19a19" class="panel-collapse collapse">
                        <div class="panel-body">                    We have a lot of perks from sponsors that we can't advertise. Ask a Club Loose North staff member to help and we'll get you hooked up.                    </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels20a20" href="#collapse20a20">                                Where can I get a Club Loose sticker for my car?                              </a> </h4>
                    </div>
                    <div id="collapse20a20" class="panel-collapse collapse">
                        <div class="panel-body">                            At the
                            <a href="http://www.clubloosenorth.bigcartel.com/category/shop">ClubLoose North Store!</a>
                        </div>
                      </div>
              </div>
            </div>
            <!-- Example row of columns -->
            <footer>
                <h2>I have more questions, who can I ask? </h2>
                <p>Email us at info@clubloose-north.com.</p>
                <p>This FAQ is intended to help answer basic questions. The rules outlined in Club Loose North’s official rulebook are the most current and accurate source of information. Those, along with track specific rules, are the law of the land.</p>
               
</div>