<div style="display: table; margin: 0 auto;">
<p><embed src="http://www.clubloose.com/clubloose/CLRules2015.pdf" height="480" width="860"></p>
<p>To download a copy of the Rulebook, click here: <a href="http://www.clubloose.com/clubloose/CLRules2015.pdf"><%= Date.today.year %> Club Loose Rulebook</a>.</p>
</div>