<div style="display: table; margin: 0 auto;">
<p><embed src="https://s3.amazonaws.com/clubloosenorth/cln/docs/CLRules2015.pdf" height="480" width="860"></p>
<p>To download a copy of the Rulebook, click here: <a href="https://s3.amazonaws.com/clubloosenorth/cln/docs/CLRules2015.pdf"><%= Date.today.year %> Club Loose Rulebook</a>.</p>
</div>