
        <div class="wrapper">

          <ul class="time-line">

             <% @events.each_with_index do |event, index| %>

               <li><a class="block <%= "ended" unless event.date > Date.today %>" href="/events/<%= event.id %>">
            <img alt="timeline image"
            src="<%= @photos["data"][index]["images"]["standard_resolution"]["url"] %>"/>

            <h2 class="overlay" style="color:white;"><%= event.date.strftime("%a, %m/%d") %></h2>
        </a></li>

      <% end %>

        </ul> <!-- .time-line -->
    </div> <!-- .wrapper -->
