 <div class="container">

                    <div class="row" style="margin-top: 10%; margin-bottom: 10%;">
                        <div class="col-xs-6 col-md-3" style="margin: 0 auto; display: table;">
                            <a href="#" class="thumbnail">
                                <img src=http://s3.amazonaws.com/clubloosenorth/cln/images/350z-by-sean-goss.jpg alt="">
                            </a>
                        </div>
                        <div class="col-md-4">
                            <h3>Contact Us</h3>
                            <ul class="schedule">
                                <li>
                                    <strong>Questions:</strong> info@clubloose-north.com
                                </li>
                                <li>
                                    <strong>Website:</strong> admin@clubloose-north.com
                                </li>
                                <li>
                                    <strong>Sponsors:</strong> info@clubloose-north.com
                                </li>
                                <li>
                                    <strong>Media:</strong> media@clubloose-north.com
                                </li>
				<li>
				<a href="http://www.clubloose.com/clubloose/index.php/media-app">Media Application</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
</div>
                    </div>
                </div>
                <div>
