<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="centerstuff">Sponsors<br></h1>
      <hr/>
      <h2>Wiring Specialties</h2>
    </div>
    <div class="col-md-6">
      <p>Wiring Specialties has put together a pretty sweet racer package to support Club Loose drivers. They make a ton of high quality wiring components and swap harnesses for S chassis as well as other drift cars. We are very proud to have a bunch of like minded guys on the team.</p>
      <p>Wiring Specialties will provide:</p>
      <ul>
        <li>(2) 1”x7” WS Small Decals or</li>
        <li>(2) 6”x3’ WS Large Sponsorship Decals</li>
        <li>5% off the purchase of WS product using small decals</li>
        <li>15% off the purchase of WS product using large decals</li>
        <li>Free shipping</li>
        <li>(1) WS T-shirt</li>
        <li>(1) WS USB phone charging cable (Apple or Andriod)</li>
      </ul>
      <img style="img-responsive" src="/s13-sr20det-wiring-harness-for-s13-240sx-tucked-pro-series-1.gif"/>
      <p>Driver Requirements:</p>
      <ul>
        <li>Logo placement on the car for event use. Minimum of 2, 1”x7” small WS decals or large WS decals</li>
        <li>Tags on Facebook and Instagram (@Wiringspecialties) when product is being displayed</li>
        <li>Include Wiring Specialties as a sponsor on videos, websites, media etc</li>
        <li>Images and videos of product installation sent to Joseph@wiringspecialties.com with a minimum of 6 high quality images.</li>
        <li>Provide a list of events you plan on attending. Minimum of 4</li>
      </ul>
      <p>Please contact Joseph@wiringspecialties.com to get set up</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="/ws-tee.png" />
    </div>
    <div class="col-md-12">
      <hr/>
      <h2>BC Racing</h2>
      <img class="img-responsive" src="/bcracing.png"/>
      <p>Discounts are available and to <a href="mailto:info@clubloose-north.com">contact us for more details.</a></p>
      <hr/>
      <p>Interested in sponsoring Club Loose North? Email info@clubloose-north.com.</p>
   </div>
  </div>
</div>
