
        <section id="content-2-1" class="content-block content-2-1 bgdrift">
            <div class="container text-center">
                <a href="/events" class="btn btn-outline btn-outline-xl outline-light">Upcoming Events</a>
            </div>
            <!-- /.container -->
        </section>

        <section id="promo-2" class="content-block promo-2 bg-image-cover">
            <div class="coming-soon text-center" style="display: block;">
                <div class="row countDown">
                    <div class="countDown-wrap">
                        <span class="digits">89</span>
                        <input class="countDown-input day" data-max="90">
                        <div class="digits-label">days</div>
                    </div>
                    <div class="countDown-wrap">
                        <span class="digits">23</span>
                        <input class="countDown-input hour">
                        <div class="digits-label">hours</div>
                    </div>
                    <div class="countDown-wrap">
                        <span class="digits">54</span>
                        <input class="countDown-input minute">
                        <div class="digits-label">minutes</div>
                    </div>
                    <div class="countDown-wrap">
                        <span class="digits">30</span>
                        <input class="countDown-input second">
                        <div class="digits-label">seconds</div>
                    </div>
                </div>
                <!-- /.row / counter -->
            </div>
            <div class="container">
                <!-- /.coming-soon -->
            </div>
            <!-- /.container -->
        </section>
        <section id="content-1-7" class="content-1-7 content-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4">
                        <img alt="Client Logo" src="images/partner-logos/logo-bootstrap.png">
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <img alt="Client Logo" src="images/partner-logos/logo-less.png">
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <img alt="Client Logo" src="images/partner-logos/logo-sass.png">
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <img alt="Client Logo" src="images/partner-logos/logo-yeoman.png">
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <img alt="Client Logo" src="images/partner-logos/logo-bower.png">
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <img alt="Client Logo" src="images/partner-logos/logo-jquery.png">
                    </div>
                </div>
                <!--end of row-->
            </div>
