<div class="container">
            <div class="row">
                <h1>Spectators</h1>
                <div class="container">
</div>
            </div>
            <!-- Example row of columns -->
            <footer>
                <p>Events are held at New Hampshire Motor Speedway, <a href="https://www.google.com/maps/dir/Current+Location/New+Hampshire+Motor+Speedway">get directions.</a> Tickets are $15, pay at the gate.</p>
                <ul class="pg-empty-placeholder">
                    <li>Non Stop Drifting 9 AM - 5 PM: See some of New England's Best Drivers.</li>
                    <li>On-track Camping Available. Come for the drifting, stay for the Party.
                    </li>
                    <li>$20 for ride-along wrist bands: hit the track shotgun. See FAQ below for details.</li>
                    <li>Hang with some of the best people around: The Club Loose North family.</li>
                </ul>
                <h1>FAQ</h1>
                <h2>Tickets</h2>
                <div class="container">
</div>
                <div>
</div>
                <div class="panel-group" id="panels1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels1a1" href="#collapse1a1">                            Where are the events?                           </a> </h4>
                        </div>
                        <div id="collapse1a1" class="panel-collapse collapse">
                            <div class="panel-body">                    New Hampshire Motor Speedway, lot S2. Get directions
                                <a href="https://www.google.com/maps/dir/Current+Location/New+Hampshire+Motor+Speedway">here.</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels2a2" href="#collapse2a2">                                How much are tickets and do I have to buy in advance?                               </a> </h4>
                        </div>
                        <div id="collapse2a2" class="panel-collapse collapse">
                            <div class="panel-body">                            Spectator tickets are $15 and are good for the entire day. All ticket sales are at the NHMS gate, no advance tickets are sold.                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels3a3" href="#collapse3a3">                                Do I have to sign a track insurance waiver?                              </a> </h4>
                        </div>
                        <div id="collapse3a3" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes, due to insurance, everyone from drivers to staff to spectators must sign this without exception.                           </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels4a4" href="#collapse4a4">                                Are there are any age requirements?                              </a> </h4>
                        </div>
                        <div id="collapse4a4" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes, those under 18 will need someone 25 years or older to sign a waiver and take responsibility for them.    </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels5a5" href="#collapse5a5">                                Are ride-alongs allowed?                             </a> </h4>
                        </div>
                        <div id="collapse5a5" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes, you will need a special wrist band for it. They are $20 and allow you to drive with any B or A group driver. C class drivers are not allowed. Age 18+ for ride-alongs. You can purchase a wrist band from a CLN staff member. You will also need a SA2010 rated or newer helmet. DOT helmets or Dirtbike helmets are NOT allowed. Those on ride-alongs must be wearing pants and closed-toe shoes. Shorts and Sandals are not acceptable for safety reasons. We have very limited loaner helmets available and we are not lending you pants.  </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels6a6" href="#collapse6a6">                                Can I leave the track and come back once admitted?                             </a> </h4>
                        </div>
                        <div id="collapse6a6" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes, provided you still have your event wrist band.    </div>
                        </div>
                    </div>
                </div>
                <h2>At the Event</h2>
                <div class="panel-group" id="panels2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels7a7" href="#collapse7a7">                            Can I bring coolers and alcoholic beverages?                          </a> </h4>
                        </div>
                        <div id="collapse7a7" class="panel-collapse collapse">
                            <div class="panel-body">                    Yes, please. But clean up your after yourself and absolutely no drinking out of glass bottles.                  </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels8a8" href="#collapse8a8">                                Can I bring grills, tents or canopies?                               </a> </h4>
                        </div>
                        <div id="collapse8a8" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes. Bring your grills and BBQs. Tents, canopies and EZ ups are good to have. NHMS has a lot of open space without a lot of shade. Bring sun protection!                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels9a9" href="#collapse9a9">                                Can I bring my RV?                               </a> </h4>
                        </div>
                        <div id="collapse9a9" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes bring your campers or RVs, we've got plenty of space.                          </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels10a10" href="#collapse10a10">                                Can I bring my pit bike or drift trike, atv, golf cart or dirt bike?                             </a> </h4>
                        </div>
                        <div id="collapse10a10" class="panel-collapse collapse">
                            <div class="panel-body">                            Please don't do so without permission. Non powered bikes and trikes are still cool.                          </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels11a11" href="#collapse11a11">                                Can I take photos or video at the event?                             </a> </h4>
                        </div>
                        <div id="collapse11a11" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes! Use #clubloosenorth on social media. If you're interested in getting on track to make a film or shoot the event as media, fill out a media application
                                <a href="http://www.clubloose.com/clubloose/index.php/media-app">here.</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#panels12a12" href="#collapse12a12">                                Are there public bathrooms on site?                            </a> </h4>
                        </div>
                        <div id="collapse12a12" class="panel-collapse collapse">
                            <div class="panel-body">                            Yes, we have real bathrooms with showers and other amenities.
</div>
                        </div>
                    </div>
                </div>
                <h2>Still have questions?</h2>
                <p>Contact us at info@clubloose-north.com</p>
              </div>
