    <section id="content-3-1" class="content-block-nopad content-3-1" style="background: url('http://s3.amazonaws.com/clubloosenorth/cln/images/CLN-header1.png')">
              <div class="overlay overlay-aqua">
                  <div class="container text-center">
                      <h2> Are you ready? </h2>
                      <h1> Thanks for driving Club Loose North</h1>
                  </div>
                  <!-- /.container -->
              </div>
          </section>


    <section class="content">
      <div class="row">
        <div style="padding: 20px; text-align: center; display: table; margin: 0 auto;">
       <h2> Thanks for pregistering! </h2>
       <p> Your prereg goes a long way to keeping CLN running events. </p>
       <p> You should recieve an email confirmation from us as well and a reciept for payment </p>

      <h2> Until Then... </h2>
      <ul>
        <li> Check out the <a href="">rulebook</a> and get your car ready for inspection </li>
        <li> View the <a href="">drivers FAQ page</a> which includes the run group schedule (study this) </li>
        <li> Hang out on the <a href="">CLN Facebook Group</a> </li>
        <li> Ask us anything via <a href="mailto:info@clubloose-north.com">info@clubloose-north.com</a> </li>
   
      </ul>
    </div>
     </div>
    </section>
