<div style="display:block; margin-top: 70px; margin-bottom: 70px; text-align: center;">
<h2> Uh oh, something went wrong </h2>
<p> We were unable to process your payment.<br>Before you try again, please contact info@clubloose-north.com<br> and we'll get this sorted out.</p>
</div>
